/* .sidebar{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
} */

.authLayout {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

.sideNav{
    
    top: 0;
    bottom: 0;
    background-color: #202020;
    max-width: 250px;
    padding: 20px;
    color: #fff;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile .username{
    text-align: center;
    margin:5px 0 5px 0;
}

.profile .descriptions {
    text-align: center;
}

.navBar li{
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #454651;
}

.navBar li:hover{
    cursor: pointer;
    background-color: #858696;
}